node_modules/
.expo/
dist/
npm-debug.log*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.metro-health-check*
android/app/build/
android/.gradle/
ios/build/
ios/Pods/
.DS_Store
.env
.env.local
