@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --color-bg: #0d1117;
  --color-text: #f0f6fc;
  --color-border: #30363d;
  --color-hover: #e5e7eb;
  /* --color-focus: #238636; */
  --color-shadow: rgba(255, 255, 255, 0.7);
}

.light {
  --color-bg: #f9fafb;
  --color-text: #111827;
  --color-border: #d1d5db;
  --color-hover: #161b22;
  /* --color-focus: #2563eb; */
  --color-shadow: rgba(0, 0, 0, 0.7);
}

#navbar > * {
  margin: 0.5rem;
  border-radius: 5px;
  color: var(--color-text);
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-border);
  background: var(--color-bg);
  transition: all 0.3s ease-in-out;
  font-size: 1.4rem;
  font-weight: 500;
}

#navbar > *:is(:hover, :focus),
.navbar__active {
  box-shadow: 0 0 6px 2px var(--color-shadow);
  border-color: var(--color-border);
  background: var(--color-bg);
  color: var(--color-text);
}
